*
!bin/run-command-on-git-revisions
!bin/beep
!.vimrc
!vimfiles/
!vimfiles/autoload/pathogen.vim
!vimfiles/bundle/*
!vimfiles/syntax/*
!.bashrc
!.bash_aliases
!.gitconfig
!.gitignore
!.ackrc
!.symfony-completion.sh
!.bash-ssh-agent.sh
