[submodule "vimfiles/bundle/vim-sensible"]
	path = vimfiles/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/bundle/vim-rails"]
	path = vimfiles/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
