*
!bin/run-command-on-git-revisions
!bin/beep
!.vimrc
!vimfiles/
!vimfiles/autoload/pathogen.vim
!vimfiles/bundle/*
!vimfiles/syntax/*

!.bashrc
!.bash-ssh-agent
!.aliases
!.ackrc

!.gitconfig
!.gitignore
